Repository dlr-ve-esy/charging-ontology: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, figures-reqs, figures, paper

.gitlab-ci.yml:

default:
  image: python:3.10
  tags:
    - docker

stages:
  - build
  - deploy
  - paper

.before_script_template: &deploy-test
  before_script:
    - pip install poetry==1.8.1
    - poetry install
    - POETRY_ENV=$(poetry env info -p)
    - source ${POETRY_ENV}/bin/activate

.doc_rules:
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        - docs/**/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_REF_NAME =~ /^pages/
      changes:
        - docs/**/*

.paper_rules:
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        - paper/**/*
        - scripts/visualization
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_REF_NAME =~ /^pages/
      changes:
        - paper/**/*
        - scripts/visualization

pages:
  stage: deploy
  <<: *deploy-test
  script:
    - mkdocs build --strict --verbose --site-dir public
  artifacts:
    paths:
      - public
    expire_in: 3 days
  rules:
    - !reference [.doc_rules, rules]

# ontology:
#   stage: build
#   image: ubuntu:latest
#   services:
#     - name: amazoncorretto:21.0.2-alpine3.19
#       alias: java
#   script:
#     - make all
#   artifacts:
#     paths:
#       - build/*

figures-reqs:
  stage: paper
  image: eclipse-temurin:latest
  script:
    - mkdir tmp
    - cp assets/catalog.xml  tmp/catalog.xml
    - curl -L -o robot.jar https://github.com/ontodev/robot/releases/download/v1.9.5/robot.jar
    - bash scripts/cco-imports/cco-extracted.sh
    - bash scripts/oeo-imports/oeo-extracted.sh
    - bash scripts/visualization/icity-extract.sh
    - bash scripts/visualization/viz-transformations.sh
  artifacts:
    paths:
      - tmp/*
    expire_in: 1 hour
  rules:
    - !reference [.paper_rules, rules]

figures:
  stage: paper
  needs:
    - job: figures-reqs
      artifacts: true
  image: etsinfra/docker-python-graphviz:3.10.7
  script:
    - pip install py-horned-owl pygraphviz
    - python scripts/visualization/paper-diagrams.py
    - python scripts/visualization/icity-diagram.py
  artifacts:
    paths:
      - tmp/*.dot
      - tmp/svg/*.svg
    expire_in: 1 hour
  rules:
    - !reference [.paper_rules, rules]

paper:
  stage: paper
  needs:
    - job: figures
      artifacts: true
  image: tumi5/latex
  script:
    - cd paper
    - latexmk -pdf -shell-escape paper.tex
  artifacts:
    paths:
      - paper/paper.pdf
    expire_in: 1 week
  rules:
    - !reference [.paper_rules, rules]

More grammar checking
  paper/assets/abstract.tex
  paper/sections/introduction.tex
Due: figures-reqs, figures, paper

More and more grammar checks
  paper/sections/conclusion.tex
  paper/sections/context.tex
  paper/sections/discussion.tex
  paper/sections/introduction.tex
  paper/sections/methodology.tex
  paper/sections/other_ontologies.tex
  paper/sections/results.tex
Due: figures-reqs, figures, paper

Grammar check docu
  docs/gettingstarted.md
  docs/index.md
  docs/scenarios.md
Due: pages

Some minor changes
  paper/sections/context.tex
  paper/sections/introduction.tex
Due: figures-reqs, figures, paper

look and feel changes
  paper/images/OEOEV.pdf
  paper/images/OEOVehicles.pdf
  paper/sections/other_ontologies.tex
  scripts/visualization/paper-diagrams.py
Due: figures-reqs, figures, paper

Removed superfluous content
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Bubbly conclusion?
  paper/sections/conclusion.tex
  paper/sections/results.tex
Due: figures-reqs, figures, paper

Fixed small typo
  paper/sections/results.tex
Due: figures-reqs, figures, paper

Added parking space competency question
  tests/cq_tbox/cq113_parkingSpacePartOfStation.txt
Due: none

Made has continuant part transitive
  src/edits/chio-core.ttl
Due: none

Added reasoning to ABox queries
  tests/test_competency_questions.py
Due: none

Added CQ2.6 query
  tests/cq_abox/cq26_ChargingvehicleCapacity.rq
  tests/cq_instances/cq26_ChargingvehicleCapacity.ttl
Due: none

Changed site with place in docu to avoid confusion
  docs/scenarios.md
Due: pages

Added CQ 1.0
  tests/cq_tbox/c10_publicChargingStation.txt
Due: none

Added baseline of CQ1.0
  src/edits/chio-core.ttl
Due: none

Added more TODOs
  TODO.md
  docs/scenarios.md
Due: pages

Added GitHub CI
  .github/workflows/chio-ci.yaml
  tests/verify/labels.sparql
Due: none

Basic CI is with ttl
  .github/workflows/chio-ci.yaml
Due: none

added more strict tests
  .github/workflows/chio-ci.yaml
  tests/cq_tbox/c10_publicChargingStation.txt
Due: none

Updated CI actions
  .github/workflows/chio-ci.yaml
Due: none

Use shutil to find java
  tests/test_competency_questions.py
Due: none

Different approach to CQs
  tests/test_competency_questions.py
Due: none

Test ontolgy in build mode
  tests/test_competency_questions.py
Due: none

Use Popen to run tests
  tests/test_competency_questions.py
Due: none

Create documentation.yml
  .github/workflows/documentation.yml
Due: none

Run main ci only on src changes
  .github/workflows/chio-ci.yaml
Due: none

Update scenarios.md
  docs/scenarios.md
Due: pages

Removed general axioms temporally
  src/edits/chio-core.ttl
Due: none

Fixed ABox Tests
  tests/test_competency_questions.py
Due: none

Fixed CQ naming
  tests/cq_instances/cq26_ChargingvehicleCapacity.ttl
Due: none

Restrict public charging station
  src/edits/chio-core.ttl
Due: none

Update README.md
  README.md
Due: none

Add license to ontology imports
  scripts/cco-imports/cco-extracted.sh
  scripts/cco-imports/extract-cco.py
  scripts/oeo-imports/extract-oeo.py
  scripts/oeo-imports/iao-extracted.sh
  scripts/oeo-imports/oeo-extracted.sh
  src/imports/cco-extracted.ttl
  src/imports/iao-extracted.ttl
  src/imports/oeo-extracted.ttl
Due: none

Added license to core
  src/edits/chio-core.ttl
Due: none

Fixed naming
  scripts/oeo-imports/iao-extracted.sh
Due: none

Changs in CI trigger CI
  .github/workflows/chio-ci.yaml
Due: none

fix
  .github/workflows/chio-ci.yaml
Due: none

Remove imports from base build
  Makefile
Due: none

Added license to src files
  src/README.md
Due: none
