Repository dlr-ve-esy/charging-ontology: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, figures-reqs, figures, paper

.gitlab-ci.yml:

default:
  image: python:3.10
  tags:
    - docker

stages:
  - build
  - deploy
  - paper

.before_script_template: &deploy-test
  before_script:
    - pip install poetry==1.8.1
    - poetry install
    - POETRY_ENV=$(poetry env info -p)
    - source ${POETRY_ENV}/bin/activate

.doc_rules:
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        - docs/**/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_REF_NAME =~ /^pages/
      changes:
        - docs/**/*

.paper_rules:
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        - paper/**/*
        - scripts/visualization
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_REF_NAME =~ /^pages/
      changes:
        - paper/**/*
        - scripts/visualization

pages:
  stage: deploy
  <<: *deploy-test
  script:
    - mkdocs build --strict --verbose --site-dir public
  artifacts:
    paths:
      - public
    expire_in: 3 days
  rules:
    - !reference [.doc_rules, rules]

# ontology:
#   stage: build
#   image: ubuntu:latest
#   services:
#     - name: amazoncorretto:21.0.2-alpine3.19
#       alias: java
#   script:
#     - make all
#   artifacts:
#     paths:
#       - build/*

figures-reqs:
  stage: paper
  image: eclipse-temurin:latest
  script:
    - mkdir tmp
    - cp assets/catalog.xml  tmp/catalog.xml
    - curl -L -o robot.jar https://github.com/ontodev/robot/releases/download/v1.9.5/robot.jar
    - bash scripts/cco-imports/cco-extracted.sh
    - bash scripts/oeo-imports/oeo-extracted.sh
    - bash scripts/visualization/icity-extract.sh
    - bash scripts/visualization/viz-transformations.sh
  artifacts:
    paths:
      - tmp/*
    expire_in: 1 hour
  rules:
    - !reference [.paper_rules, rules]

figures:
  stage: paper
  needs:
    - job: figures-reqs
      artifacts: true
  image: etsinfra/docker-python-graphviz:3.10.7
  script:
    - pip install py-horned-owl pygraphviz
    - python scripts/visualization/paper-diagrams.py
    - python scripts/visualization/icity-diagram.py
  artifacts:
    paths:
      - tmp/*.dot
      - tmp/svg/*.svg
    expire_in: 1 hour
  rules:
    - !reference [.paper_rules, rules]

paper:
  stage: paper
  needs:
    - job: figures
      artifacts: true
  image: tumi5/latex
  script:
    - cd paper
    - latexmk -pdf -shell-escape paper.tex
  artifacts:
    paths:
      - paper/paper.pdf
    expire_in: 1 week
  rules:
    - !reference [.paper_rules, rules]

Reworded introduction to be more friendly
  paper/sections/introduction.tex
Due: figures-reqs, figures, paper

Lots of rewordings that allow easy reading.
  paper/sections/context.tex
  paper/sections/methodology.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

More small quality improvements
  paper/sections/context.tex
  paper/sections/introduction.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

More concise explanation of development.
  paper/sections/methodology.tex
Due: figures-reqs, figures, paper

Added EL profiling and owl format
  Makefile
Due: none

Added other ontology works
  paper/bibliography.bib
  paper/sections/context.tex
Due: figures-reqs, figures, paper

Proper name accents
  paper/paper.tex
Due: figures-reqs, figures, paper

Changes based on review from: @mior_fa
  paper/assets/abstract.tex
  paper/paper.tex
  paper/sections/achievement.tex
  paper/sections/context.tex
  paper/sections/introduction.tex
  paper/sections/methodology.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Multidisciplinary -> Interdisciplinary
  paper/assets/abstract.tex
Due: figures-reqs, figures, paper

Portion of Geosphere is a fiat object part
  scripts/cco-imports/ao_facility.txt
  scripts/cco-imports/extract-cco.py
  scripts/cco-imports/geo_base.txt
  scripts/cco-imports/geo_base_upper.txt
  src/edits/chio-core.ttl
  src/imports/cco-extracted.ttl
Due: none

Fixed issue with subsection numbers in other ontologies, comment from @choyer
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Implemented ParkingOntology sections
  src/edits/chio-core.ttl
Due: none

Added CQS with instantiation
  tests/cq_instances/cq21_vehicleCapacity.ttl
  tests/cqs/cq21_vehicleCapacity.rq
  tests/test_competency_questions.py
Due: none

More explicit scenarios
  docs/scenarios.md
  paper/sections/methodology.tex
Due: pages, figures-reqs, figures, paper

Made comaptible with lower python versions
  pyproject.toml
Due: none

Reverted last change
  pyproject.toml
Due: none

Changed language and included bfo ops
  src/edits/chio-core.ttl
Due: none

Fixed harcoded bfo path
  src/edits/catalog-v001.xml
Due: none

Extracted InformationEntity ontology
  scripts/cco-imports/cco-extracted.sh
  scripts/cco-imports/extract-cco.py
  scripts/cco-imports/geo_base_upper.txt
  scripts/cco-imports/ieo_ops.txt
  scripts/cco-imports/ieo_ops_mappings.csv
  src/imports/cco-extracted.ttl
Due: none

Added OEO annotation
  src/edits/chio-core.ttl
Due: none

Extracted electrical power source
  scripts/cco-imports/ao_artifacts.txt
  src/imports/cco-extracted.ttl
Due: none

Added charging station
  src/edits/chio-core.ttl
Due: none

Added charging station and relations
  src/edits/chio-core.ttl
Due: none

Reworked competency questions significantly
  paper/paper.tex
  paper/sections/introduction.tex
  paper/sections/methodology.tex
  paper/sections/results.tex
  tests/cq_abox/cq0_processProfiles.rq
  tests/cq_abox/cq21_vehicleCapacity.rq
  tests/cq_tbox/cq11_columnPartOfstation.txt
  tests/test_competency_questions.py
Due: figures-reqs, figures, paper

Improved results
  paper/sections/methodology.tex
  paper/sections/results.tex
Due: figures-reqs, figures, paper

Fixed listing rendering
  paper/paper.tex
  paper/sections/results.tex
Due: figures-reqs, figures, paper

Added listings to results
  .gitignore
  paper/sections/results.tex
Due: figures-reqs, figures, paper

Added better results
  paper/images/CHIOParking.pdf
  paper/sections/results.tex
  scripts/visualization/chio_parking_viz.txt
  scripts/visualization/extract_chio_for_viz.py
  scripts/visualization/paper-diagrams.py
Due: figures-reqs, figures, paper

Try fixing pipeline
  .gitlab-ci.yml
  paper/sections/discussion.tex
  paper/sections/introduction.tex
  paper/sections/results.tex
  scripts/visualization/chio-extract-viz.sh
Due: figures-reqs, figures, paper

Finished last part
  paper/paper.tex
  paper/sections/conclusion.tex
  paper/sections/discussion.tex
Due: figures-reqs, figures, paper

Changed listings theme
  paper/paper.tex
Due: figures-reqs, figures, paper

Added more software discussion
  paper/sections/discussion.tex
  paper/sections/results.tex
Due: figures-reqs, figures, paper

Fixed consistency of example query
  paper/sections/results.tex
  tests/cq_abox/cq21_vehicleCapacity.rq
Due: figures-reqs, figures, paper

Updated size of results figure
  paper/images/CHIOParking.pdf
  paper/sections/results.tex
  scripts/visualization/paper-diagrams.py
Due: figures-reqs, figures, paper

Implemented new template
  .gitignore
  .gitlab-ci.yml
  paper/IOS-Book-Article.cls
  paper/IOS-Book-Article.tmpl
  paper/assets/abstract.tex
  paper/assets/keywords.tex
  paper/bibliography.bib
  paper/images/CCOVehicles.pdf
  paper/images/CHIOParking.pdf
  paper/images/OEOEV.pdf
  paper/images/OEOLVehicles.pdf
  paper/images/OEOVehicles.pdf
  paper/images/PARKING.pdf
  paper/images/infrastructureSystem.pdf
  paper/paper.tex
  paper/paper_ios.tex
  paper/sections/discussion.tex
  paper/vancouver.bst
  scripts/visualization/icity-diagram.py
  scripts/visualization/paper-diagrams.py
Due: figures-reqs, figures, paper

Made IOS default template
  .gitlab-ci.yml
  paper/paper.tex
  paper/paper_ceur.tex
  paper/paper_ios.tex
Due: figures-reqs, figures, paper

Added corresponding author
  paper/paper.tex
Due: figures-reqs, figures, paper

Some self-reviewing changes
  paper/bibliography.bib
  paper/sections/context.tex
  paper/sections/discussion.tex
  paper/sections/introduction.tex
  paper/sections/other_ontologies.tex
  paper/sections/results.tex
Due: figures-reqs, figures, paper

Improved english
  paper/assets/abstract.tex
  paper/assets/keywords.tex
  paper/paper_ceur.tex
  paper/sections/introduction.tex
Due: figures-reqs, figures, paper

Introduction grammar check
  paper/sections/introduction.tex
Due: figures-reqs, figures, paper
