Repository dlr-ve-esy/charging-ontology: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, figures-reqs, figures, paper

pages:
  before_script:
  - pip install poetry==1.8.1
  - poetry install
  - POETRY_ENV=$(poetry env info -p)
  - source ${POETRY_ENV}/bin/activate
  stage: deploy
  script:
  - mkdocs build --strict --verbose --site-dir public
  artifacts:
    paths:
    - public

figures-reqs:
  stage: paper
  image: eclipse-temurin:latest
  script:
  - mkdir tmp
  - cp assets/catalog.xml  tmp/catalog.xml
  - curl -L -o robot.jar https://github.com/ontodev/robot/releases/download/v1.9.5/robot.jar
  - bash scripts/cco-imports/cco-extracted.sh
  - bash scripts/oeo-imports/oeo-extracted.sh
  ...

figures:
  stage: paper
  needs:
  - job: figures-reqs
    artifacts: true
  image: etsinfra/docker-python-graphviz:3.10.7
  script:
  - pip install py-horned-owl pygraphviz
  - python scripts/visualization/paper-diagrams.py
  - python scripts/visualization/icity-diagram.py
  artifacts:
    paths:
    - tmp/*.dot
    - tmp/svg/*.svg

paper:
  stage: paper
  needs:
  - job: figures
    artifacts: true
  image: tumi5/latex
  script:
  - cd paper
  - latexmk -pdf -shell-escape paper.tex
  artifacts:
    paths:
    - paper/paper.pdf

Added tag back
  .gitlab-ci.yml
Due: none

And defautl image
  .gitlab-ci.yml
Due: none

Cant build ontology without proper setup
  .gitlab-ci.yml
Due: none

Different image
  .gitlab-ci.yml
Due: none

Not working
  .gitlab-ci.yml
Due: none

Updated paper
  paper/sections/context.tex
  paper/sections/introduction.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Added scenario 3: Drive2X, working package 5
  docs/scenarios.md
Due: pages

Added general structure
  paper/bibliography.bib
  paper/paper.tex
  paper/sections/context.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Added many latex files to gitignore
  .gitignore
Due: none

Using PNG instead of SVG
  .gitignore
  paper/images/CCOVehicles.png
  paper/images/OEOEV.png
  paper/images/OEOLVehicles.png
  paper/images/OEOVehicles.png
  paper/images/PARKING.png
  paper/images/infrastructureSystem.png
  paper/paper.tex
  paper/sections/other_ontologies.tex
  scripts/visualization/icity-diagram.py
  scripts/visualization/paper-diagrams.py
Due: figures-reqs, figures, paper

Cleaned section structure and added links
  paper/paper.tex
  paper/sections/achievments.tex
  paper/sections/conclusion.tex
  paper/sections/context.tex
  paper/sections/introduction.tex
  paper/sections/methodology.tex
  paper/sections/oeo.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Added general structure
  paper/bibliography.bib
  paper/paper.tex
  paper/sections/context.tex
  paper/sections/methodology.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Reworded introduction
  paper/paper.tex
  paper/sections/context.tex
Due: figures-reqs, figures, paper

First rough paper draft
  paper/assets/abstract.tex
  paper/bibliography.bib
  paper/paper.tex
  paper/sections/context.tex
  paper/sections/methodology.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Increaded picture DPI
  paper/images/CCOVehicles.png
  paper/images/OEOEV.png
  paper/images/OEOLVehicles.png
  paper/images/OEOVehicles.png
  paper/images/PARKING.png
  paper/images/infrastructureSystem.png
  scripts/visualization/icity-diagram.py
  scripts/visualization/paper-diagrams.py
Due: figures-reqs, figures, paper

Solved typo on naming
  paper/paper.tex
  paper/sections/achievement.tex
Due: figures-reqs, figures, paper

Reworked application context
  docs/scenarios.md
Due: pages

Made smaller figures more readable
  paper/images/CCOVehicles.png
  paper/images/OEOEV.png
  paper/images/OEOLVehicles.png
  paper/images/OEOVehicles.png
  scripts/visualization/paper-diagrams.py
Due: figures-reqs, figures, paper

Enriched motivating sceanrios and added OEO section
  paper/assets/abstract.tex
  paper/paper.tex
  paper/sections/methodology.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Updated bibliography
  paper/bibliography.bib
Due: figures-reqs, figures, paper

Reworded application scenarios to motivating scenarios to be more in line with the literature.
  docs/scenarios.md
  paper/sections/methodology.tex
Due: pages, figures-reqs, figures, paper

Extended context section
  paper/paper.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Added missing references
  paper/bibliography.bib
Due: figures-reqs, figures, paper

Added bfo section and roadmap
  paper/bibliography.bib
  paper/sections/achievement.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Updated conclusion
  paper/paper.tex
  paper/sections/conclusion.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Performed some small corrections
  paper/sections/introduction.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Fixed reference of common core ontologies
  paper/bibliography.bib
Due: figures-reqs, figures, paper

Cleaned bibliography
  paper/bibliography.bib
Due: figures-reqs, figures, paper

Updated authors
  paper/paper.tex
Due: figures-reqs, figures, paper

Update artifacts expiration times
  .gitlab-ci.yml
Due: none

Updated figure sizes
  paper/images/CCOVehicles.png
  paper/images/OEOLVehicles.png
  paper/images/OEOVehicles.png
  scripts/visualization/paper-diagrams.py
Due: figures-reqs, figures, paper

Enriched conclusion
  paper/sections/conclusion.tex
Due: figures-reqs, figures, paper

Wording
  paper/assets/abstract.tex
  paper/sections/conclusion.tex
Due: figures-reqs, figures, paper

transport -> transportation
  paper/assets/abstract.tex
  paper/sections/context.tex
  paper/sections/introduction.tex
Due: figures-reqs, figures, paper

Stricter instead of more strict
  paper/assets/abstract.tex
Due: figures-reqs, figures, paper

Less fillers
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Conclusion more down to earth
  paper/sections/conclusion.tex
Due: figures-reqs, figures, paper

Updated TODO
  TODO.md
Due: none

Significant rework of paper figures
  paper/images/CCOVehicles.pdf
  paper/images/CCOVehicles.png
  paper/images/OEOEV.pdf
  paper/images/OEOEV.png
  paper/images/OEOLVehicles.pdf
  paper/images/OEOLVehicles.png
  paper/images/OEOVehicles.pdf
  paper/images/OEOVehicles.png
  paper/images/PARKING.pdf
  paper/images/PARKING.png
  paper/images/infrastructureSystem.pdf
  paper/images/infrastructureSystem.png
  paper/sections/other_ontologies.tex
  scripts/visualization/icity-diagram.py
  scripts/visualization/paper-diagrams.py
Due: figures-reqs, figures, paper

Removed "very" from a lot of phrases
  paper/assets/abstract.tex
  paper/sections/other_ontologies.tex
Due: figures-reqs, figures, paper

Path conditions:
  pages: any of: docs/**/*
  figures-reqs: any of: paper/**/*, scripts/visualization
  figures: any of: paper/**/*, scripts/visualization
  paper: any of: paper/**/*, scripts/visualization
